{% extends "base.html" %}

{% block app_content %}


<h1>Transaction 8a: USER PRVILIGES:</h1>
<form method="POST" action="/transaction8formRole" enctype="multipart/form-data">
    <br>
    <label>Role ID Number:</label><br>
    <input type="text"  name="roleIdNo" placeholder="Enter Role ID Number here">
    <br><br>
    <button type="submit">Submit</button>
    <br>
    <br>
</form>
    <label>Account privileges</label>
        {% if result1 %}
            {% for i in result1 %}
                <p>{{i[0]}}</p>
            {% endfor %}
        {% else %}
            <p>No Account privileges assigned</p>
        {% endif %}

    <label>Relational privileges</label>
        {% if result2 %}
            {% for i in result2 %}
                <p>{{i[0]}}</p>
            {% endfor %}
        {% else %}
            <p>No Account privileges assigned</p>
        {% endif %}
{% endblock %}